* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  max-width: 700px;
  margin: 50px auto;
  position: relative;
}
.slider__main {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slider__section {
  display: flex;
  position: relative;
  transition: transform 0.4s ease-in-out;
}
.slider__item {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.slider__img {
  width: 100%;
  height: 100%;
}
.slider__dot {
  z-index: 5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot__item {
  cursor: pointer;
  padding: 6px 14px;
  background-color: ivory;
}
.active {
  background-color: red;
}
.slider__pre,
.slider__next {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  padding: 15px;
  border-radius: 50%;
  background-color: lightblue;
  color: red;
  top: 50%;
  transform: translateY(-50%);
}
.slider__pre {
  left: 10px;
}
.slider__next {
  right: 10px;
}
.slider__pre:hover,
.slider__next:hover {
  background-color: red;
  color: lightblue;
}
